<div class="login-form">
	<h1>Spooky SZN</h1>
	<h4>Register!</h4>
	<a href="/login">Login</a>
	<form action="/register" method="POST">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit">
	</form>
</div>