<div class="heading">
    <h1>Dashboard</h1>
</div>

<div class="dashboard-links">
    <h4>A recreation of the classic game Pong, made during an Express halloween hackathon.</h4>
    <h5>Try and beat the unbeatable AI!</h5>
    <a href="/singlePlayer"><button class="dashboard-btns">Play!</button></a>
    {{!-- <a href="/instructions"><button class="dashboard-btns">learn how to play</button></a> --}}
    {{!-- <a href="/leaderboard"><button class="dashboard-btns">view the current leaderboard</button></a> --}}
    {{!-- <a href="/profile"><button class="dashboard-btns disabled">view your profile and statistics</button></a> --}}
</div>
