<div class="heading">
    <h1>Dashboard</h1>
</div>

<div class="dashboard-links">
    <a href="/singlePlayer"><button class="dashboard-btns">play single player</button></a>
    {{!-- <a href="/instructions"><button class="dashboard-btns">learn how to play</button></a> --}}
    {{!-- <a href="/leaderboard"><button class="dashboard-btns">view the current leaderboard</button></a> --}}
    {{!-- <a href="/profile"><button class="dashboard-btns disabled">view your profile and statistics</button></a> --}}
</div>
