<div class="heading">
    <h1>Dashboard</h1>
</div>

<div class="dashboard-links">
    <button class="dashboard-btns"><a href="/singlePlayer">play single player</a></button>
    <button class="dashboard-btns"><a href="/instructions">learn how to play</a></button>
    <button class="dashboard-btns"><a href="/leaderboard">view the current leaderboard</a></button>
    <button class="dashboard-btns"><a href="/profile">view your profile and statistics</a></button>
</div>
