<div class="heading">
    <h1>Welcome (user)</h1>
</div>

<div class="user-wrapper">
    <div class="user-info">
        <p class="username">Username:</p>
        <a href="#">Change Password</a>
    </div>

    <div class="stats">
        <ul id="user-stats">
            <li id="gamesPlayed" class="stat-rows">
                <p class="stats-numbers">0</p>
                <p class="stat-text">games played</p>
            </li>
            <li id="highScore" class="stat-rows">
                <p class="stats-numbers">0</p>
                <p class="stat-text">high score</p>
            </li>
            <li id="averageScore" class="stat-rows">
                <p class="stats-numbers">0</p>
                <p class="stat-text">average score</p>
            </li>
        </ul>
    </div>
</div>