<div class="heading">
    <h1>Your profile</h1>
</div>

<div class="user-wrapper">
    <div class="user-info">
        <p>Username:</p>
        <a href="#">Change Password</a>
    </div>

    <div class="stats">
        <ul id="user-stats">
            <li id="gamesPlayed" class="stat-rows">

            </li>
            <li id="highScore" class="stat-rows">

            </li>
            <li id="averageScore" class="stat-rows">

            </li>
        </ul>
    </div>
</div>