
.heading{
    text-align: center;
    margin: 3%;
}


.wrapper{
    display: flex;
    justify-content: center;

}
#pong{
    margin:0 auto;
}


// leaderboard
.leaderboard-wrapper{
    display: flex;
    justify-content: center;

    .leaderboard{
        height: 65vh;
        width: 30vw;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }

}


// profile 
.user-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    .user-info{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        width: 30vw;
        height: 20vh;
        padding: 2%;
        margin-bottom: 5%;
    }

    .stats{
        width: 30.5vw;
        padding: 0;
        #user-stats{
            display: flex;
            flex-direction: row;
            padding: 0;
            justify-content: space-between;

            .stat-rows{
                background-color: orange;
                width: 8vw;
                height: 15vh;
                list-style-type: none;
                margin: 1%;
                
            }

        }
    }
}
