@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Big Shoulders Display', sans-serif;
}

a{
    color: #ff970f;

}

.navbar{
    // background-color: rgba(255, 151, 15, 0.85);;
    border-bottom: 1px solid #ff970f;
    .navbar-brand{
        // color: #f26e02;
        color: #ff970f;
        font-weight: 600;
        font-size: 1.8em;

        &:hover{
            color: #000;
        }
    }
    a{
        font-weight: 400;
        font-size: 1.5em;
        color: #ff970f;
        // color: black;
        &:hover{
            color: #000;
        }
    }

    // .disabled{
    //     color: grey;

    // }
}


// heading  ------------------------------------
.heading{
    text-align: center;
    margin: 3%;
}

// single player ------------------------------------
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

    #startSinglePlayer{
        width: 40vw;
        margin-bottom: 2%;
        background-color: #ff970f;
        color: white;
        border: none;
        height: 7vh;
        

    }
    #resetGame{
        width: 40vw;
        margin-bottom: 2%;
        background-color: black;
        color: white;
        border: none;
        height: 7vh;
        text-align: center;
        padding: 1%;

    }
}
#pong{
    margin:0 auto;
    margin-bottom: 5%;
    width: 40vw;
    height: 50vh;
}


// leaderboard  ------------------------------------
.leaderboard-wrapper{
    display: flex;
    justify-content: center;

    .leaderboard{
        height: 65vh;
        width: 30vw;
        box-shadow: 0px 0px 15px 10px rgba(255, 151, 15, 0.75);
    }

}


// profile ------------------------------------
.user-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    .user-info{
        // box-shadow: 0px 0px 20px 12px rgba(255, 151, 15, 0.75);
        // background-color: #3d3d3d;
        border: 5px solid #ff970f;
        width: 35.5vw;
        height: 17vh;
        padding: 1.7%;
        margin-bottom: 5%;
        
        a{
            text-decoration: underline;
        }
        .username{
            font-weight: 600;
            color: black;

        }
        
    }

    .stats{
        width: 35vw;
        padding: 0;
        #user-stats{
            display: flex;
            flex-direction: row;
            padding: 0;
            justify-content: space-between;
            

            .stat-rows{
                // background-color: #ff970f;
                // background-color: black;
                // box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 20px 12px rgba(255, 151, 15, 0.75);
                width: 10vw;
                height: 23vh;
                list-style-type: none;
                margin: 1%;
                text-align: center;
                display: flex;
                flex-direction: column;
                margin: 0;
                color: #ff970f;
                


                .stat-text{
                    margin: 0;
                    font-size: 1.25em;
                    font-weight: 300;
                }

                .stats-numbers{
                    font-size: 5em;
                    font-weight: 600;
                }
                
            }

        }
    }
}


// instructions
.instructions{
    width: 50vw;
    height: 50vh;
    box-shadow: 0px 0px 20px 12px rgba(255, 151, 15, 0.75);
    margin: 0 auto;
}

// dashboard

.dashboard-links{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    a{
        font-size: 1.5em;
    }



    .dashboard-btns{
        border: none;
        background-color: #ff970f;
        // margin: 0 auto;
        padding: 0.5%;
        min-width: 20vw;
        height: 10vh;
        margin-bottom: 5%;
        // padding: 3%;
        // padding-top: 3%;
        color: white;
        
    }

}

